{% extends "members/emails/base_email.html" %}

{% block email_content %}

<p class="email-text">

    Your payment has been confirmed.

</p>

<div
    style="
        background:#f8f9fa;
        padding:22px;
        border-radius:14px;
        margin:25px 0;
    "
>

    <p>

        <strong>Reference:</strong><br>
        {{ payment_reference }}

    </p>

    <p>

        <strong>Description:</strong><br>
        {{ payment.payment_request.description }}

    </p>

    <p>

        <strong>Amount:</strong><br>
        £{{ payment.amount }}

    </p>

    <p>

        <strong>Status:</strong><br>
        Confirmed

    </p>

</div>

<p class="email-text">

    Thank you for your payment.

</p>

<p class="email-text">

    Thank you for your continued support.

</p>

<p
    class="email-text"
    style="
        font-weight:bold;
        margin-top:25px;
    "
>

    KRO Welfare Management

</p>

{% endblock %}