{% extends "members/base.html" %} {% block content %}
<h3>Claims</h3>
<a class="btn btn-primary mb-3" href="{% url 'members:create_claim' %}"
  >Create claim</a
>

<ul class="list-group">
  {% for c in claims %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div><strong>{{ c }}</strong> — {{ c.status }}</div>
    <div>
      <a
        class="btn btn-outline-secondary btn-sm"
        href="{% url 'members:claim_list' c.id %}"
        >View</a
      >
      <a
        href="{% url 'members_admin:claim_lifecycle' claim.id %}"
        class="btn btn-sm btn-outline-primary"
      >
        Lifecycle
      </a>
    </div>
  </li>

  {% empty %}
  <li class="list-group-item">No claims</li>
  {% endfor %}
</ul>
{% endblock %}
